@import 'node_modules/bootstrap/dist/css/bootstrap.css';

.navbar {
  background-color: #000000 !important;
}

.nav-link {
  color: white !important;
}

#logo {
  color: white !important;
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('home-jumbo-bg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}
