<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <%= link_to 'Articles', articles_path %> |
    <%= link_to 'About', about_path %>
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>